@media only screen and (min-width: 700px) {
    body {
	background-image: url(/cu/ultimate/images/uplo_crest.png);
	background-position: 50% 20px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
    }
}

.pic img {
    height: 100%;
    width: 100%;
}

.text {
    font-size: 120%;
}

#map {
    width:555px;
    height:400px;
    margin-left:1.3%;
}